.fa { transform: scale(1.5,1.5); margin-right:5px; }

.image-grow {
    /* Smooth transition for the transformation */
    transition: transform 0.2s ease-in-out; 
}

.image-grow:hover {
    /* Scale the image up (e.g., to 120% of its original size) on hover */
    transform: scale(1.2);
    cursor: pointer;
}



.x-tab-bar .x-box-inner {
    overflow: hidden !important;
}

.center-table{
  height:100%;
  width:100%; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
}

.center-table th, td {
  text-align: center;
}

#loading-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	z-index: 1;
}

#loading {
	position: absolute;
	top: 40%;
	left: 45%;
	z-index: 2;
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 12px;
}

#loading span {
	padding: 5px 30px;
	display: block;
}

.grid-cell-action-col-item-hide {
	visibility: hidden;
}

.selection-disabled .x-selmodel-column {
	visibility: hidden;
}

.increaseSize:hover {
	transform: scale(1.2);
}

#resultado {
	background-color: red;
	color: white;
}

#resultado.ok {
	background-color: green;
}

#resultadoIssuer {
	background-color: red;
	color: white;
}

#resultadoIssuer.ok {
	background-color: green;
}

@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: Poppins-Light;
	src: url('../fonts/poppins/Poppins-Light.ttf');
}

.x-form-item-label {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
	color: #3F484D !important;
	text-align: left !important;
}

.x-btn-inner {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
}

.x-toolbar-text {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
}

.x-panel-tbar div.xtb-text {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
}

.x-form-field {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
	color: #3F484D !important;
	text-align: left !important;
}

.x-form-item {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
	color: #3F484D !important;
	text-align: left !important;
}

.x-form-label {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
	color: #3F484D !important;
	text-align: left !important;
}

.x-form-cb-label {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
}

.x-panel-header-text-default {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
	text-align:center;
}

.label-view .x-panel-body .x-form-display-field .x-form-field .x-body {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
	color: #3F484D !important;
	text-align: left !important;
}

body, div, form, img, ul, ol, li, dl, dt, dd, table, td, tr, th {
	font-family: Poppins-Regular, sans-serif !important;
	color: #3F484D;
}

.valign_class td {
	vertical-align: top;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
}

.alertBtn {
	background-color: #FFEB3B !important;
	background-image: none;
}

.alertYellow .x-grid-cell {
	background-color: #FFEE58 !important;
}

.alertOrange .x-grid-cell {
	background-color: #FFB300 !important;
}

.alertNormal .x-grid-cell {
	background-color: transparent;
	!
	important;
}

.alertRed .x-grid-cell {
	background-color: red !important;
	color: #fff;
	!
	important;
}

.zoom:hover {
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

#page-loader {
	position: fixed; /* or absolute */
	top: 40%;
	left: 40%;
	z-index: 9999999;
	background-image: url(../images/image_add.png) !important;
}

.buttonStyle {
	background: #FF8300 !important;
	border: solid 1px #FF8300 !important;
	height: 24px !important;
}

.buttonStyle .x-btn-inner {
	color: #ffffff;
}

.x-btn-over.buttonStyle {
	border: solid 1px #FF9C33 !important;
	background-color: #FF9C33 !important;
	background-image: none;
}

.x-btn-pressed.buttonStyle {
	background: #FF9C33;
	background-color: #FF9C33 !important;
	border: solid 1px #fff !important;
	background-image: none !important;
}

.x-btn-focus.buttonStyle {
	background: #FF9C33;
}

.buttonMenuStyle {
	border-radius: 1px;
	-moz-border-radius: 1px;
	background: #fff;
	border: 0px;
	padding: 3px 3px;
	color: #3F484D;
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
}

.buttonMenuStyle:hover {
	background-color: #fafafa;
}

.errWindowCls .x-window-body>.x-box-inner {
	overflow: scroll;
}

.extra-large-cell-grid  table tbody tr.x-grid-row {
	height: 27px;
	font-size: 11px;
}

.extra-large-cell-grid  table tbody tr.x-grid-row td.x-grid-cell {
	vertical-align: middle;
	height: 27px;
	font-size: 11px;
}

.extra-large-cell-grid-min  table tbody tr.x-grid-row {
	height: 27px;
	font-size: 11px;
}

.extra-large-cell-grid-min  table tbody tr.x-grid-row td.x-grid-cell {
	vertical-align: middle;
	height: 27px;
	font-size: 11px;
}

.extra-large-cell-grid-small  table tbody tr.x-grid-row {
	height: 25px;
	font-size: 9px;
}

.extra-large-cell-grid-small  table tbody tr.x-grid-row td.x-grid-cell {
	vertical-align: middle;
	height: 25px;
	font-size: 9px;
}

.extra-large-cell-grid-min  table tbody tr.x-grid-row {
	height: 25px;
	font-size: 9px;
}

.extra-large-cell-grid-min  table tbody tr.x-grid-row td.x-grid-cell {
	vertical-align: middle;
	height: 25px;
	font-size: 9px;
}

.greyGridTable {
	position: fixed;
	margin-left: -150px; /* half of width */
	margin-top: -150px; /* half of height */
	top: 55%;
	left: 38%;
}

table.greyGridTable {
	font: Poppins-Regular, sans-serif;
	border: 2px solid #FFFFFF;
	width: 50%;
	text-align: left;
	border-collapse: collapse;
}

table.greyGridTable td, table.greyGridTable th {
	border: 1px solid #FFFFFF;
	padding: 3px 4px;
	height: 40px;
	font: Poppins-Regular, sans-serif;
}

table.greyGridTable tbody td {
	font-size: 13px;
	font-weight: bold;
	font: Poppins-Regular, sans-serif;
}

table.greyGridTable td:nth-child(even) {
	background: #EBEBEB;
	height: 40px;
	font: Poppins-Regular, sans-serif;
}

table.greyGridTable tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	border-top: 4px solid #333333;
}

table.greyGridTable tfoot td {
	font-size: 19px;
	font: Poppins-Regular, sans-serif;
}

.dashGridTable {
	position: fixed;
	margin-left: -150px; /* half of width */
	margin-top: -150px; /* half of height */
	top: 55%;
	left: 50%;
}

table.dashGridTable {
	font: 16px Tahoma, Verdana, sans-serif;
	border: 2px solid #FFFFFF;
	width: 15%;
	text-align: left;
	border-collapse: collapse;
}

table.dashGridTable td, table.dashGridTable th {
	border: 1px solid #FFFFFF;
	padding: 3px 4px;
	height: 30px;
}

table.dashGridTable tbody td {
	font-size: 13px;
	font-weight: bold;
}

table.dashGridTable td:nth-child(even) {
	background: #EBEBEB;
	height: 30px;
}

table.dashGridTable tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	border-top: 4px solid #333333;
}

table.dashGridTable tfoot td {
	font-size: 19px;
}

.center-div {
	margin: 20 auto;
	width: 100px;
}

.deleteStyle {
	background: #b30000;
	font-size: 11px;
}

.image-logo {
	background-image: url(../images/emLogo.jpg) !important;
}

.box {
	background-image: url(../images/box.png) !important;
}

.user-group {
	background-image: url(../images/user-group.png) !important;
	width: 50px;
}

.udc {
	background-image: url(../images/udc.png) !important;
}

.dashboard {
	background-image: url(../images/dashboard.png) !important;
}

.file {
	background-image: url(../images/file.png) !important;
}

.notepad {
	background-image: url(../images/notepad.png) !important;
}

.calendar {
	background-image: url(../images/calendar.png) !important;
}

.path {
	background-image: url(../images/path.png) !important;
}

.icon-menuHdr {
	background-image: url(../images/menuItem.png) !important;
}

.icon-zip {
	background-image: url(../images/icon-zip.png) !important;
}

.icon-sat {
	background-image: url(../images/satimage_small.png) !important;
}

.icon-menuIcon {
	background-image: url(../images/menu_detail.png) !important;
}

.icon-apply {
	background-image: url(../images/apply.png) !important;
}

.icon-maximize {
	background-image: url(../images/maximize.png) !important;
}

.icon-appWindow {
	background-image: url(../images/application_windows_edit.png) !important;
}

.icon-cancel {
	background-image: url(../images/document_remove.png) !important;
}

.icon-user {
	background-image: url(../images/user.png) !important;
}

.icon-user-add {
	background-image: url(../images/user_add.gif) !important;
}

.icon-save {
	background-image: url(../images/save.gif) !important;
}

.icon-homeLogo {
	background-image: url(../images/homeLogo.jpg) !important;
}

.icon-reset {
	background-image: url(../images/stop.png) !important;
}

.icon-grid {
	background-image: url(../images/grid.png) !important;
}

.icon-pdf {
	background-image: url(../images/pdf_icon_small.gif) !important;
}

.icon-excel {
	background-image: url(../images/excel-icon-small.gif) !important;
}

.icon-document {
	background-image: url(../images/documentsmall.png) !important;
}

.icon-doc {
	background-image: url(../images/doc.png) !important;
}

.icon-bulletMenu {
	background-image: url(../images/arrow_state_blue_right.png) !important;
}

.icon-add {
	background-image: url(../images/add.png) !important;
}

.icon-print {
	background-image: url(../images/icon_print_small2.gif) !important;
}

.icon-refresh {
	background-image: url(../images/table_refresh.png) !important;
}

.icon-edit {
	background-image: url(../images/application_windows_edit.png) !important;
}

.icon-delete {
	background-image: url(../images/delete.png) !important;
}

.icon-accept {
	background-image: url(../images/accept.png) !important;
}

.icon-close {
	background-image: url(../images/close.png) !important;
}

.icon-search {
	background-image: url(../images/search-icon-small.png) !important;
}

.icon-doSearch {
	background-image: url(../images/search-icon-small.png) !important;
}

.icon-appgo {
	background-image: url(../images/application_go.png) !important;
}

.icon-cog {
	background-image: url(../images/cog.png) !important;
}

.icon-dot {
	background-image: url(../images/dot.gif) !important;
}

.icon-stop {
	background-image: url(../images/stop.png) !important;
}

.icon-imgadd {
	background-image: url(../images/image_add.png) !important;
}

.icon-userGray {
	background-image: url(../images/user_gray.png) !important;
}

.icon-currency {
	background-image: url(../images/currency.png) !important;
}

.icon-email {
	background-image: url(../images/email.png) !important;
}

.hdrTable {
	width: 50%;
	height: 10%;
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: Poppins-Regular, sans-serif;
}

.hdrTable tr td {
	color: #3F484D;
	text-align: center;
	font: 14px Tahoma, Verdana, sans-serif;
}

.resSingle img {
	float: left;
}

.msg .x-box-mc {
	font-size: 11px;
}

#msg-div {
	position: absolute;
	left: 35%;
	top: 10px;
	width: 300px;
	z-index: 20000;
}

#msg-div .msg {
	border-radius: 8px;
	-moz-border-radius: 8px;
	background: #F6F6F6;
	border: 2px solid #ccc;
	margin-top: 2px;
	padding: 10px 15px;
	color: #555;
}

#msg-div .msg h3 {
	margin: 0 0 8px;
	font-weight: bold;
	font-size: 12px;
}

#msg-div .msg p {
	margin: 0;
}

.outlineField {
	background-image: none;
	/*background-color:#ffcc66;*/
	color: #3F484D;
	font-weight: bold;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.red-editor textarea {
	background: none;
	background-color: #ffcc66;
	padding-top: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #3F484D;
}

.white-editor {
	background: none;
	padding-top: 2px;
	font-size: 11px;
	font-weight: bold;
	color: #3F484D;
}

.icon-delActn {
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.icon-addActn {
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.icon-printActn {
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.icon-openActn {
	margin-left: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.icon-openInvoiceActn {
	margin-left: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.change-row {
	background-color: #ffffa8;
	border-color: #FA1505;
}

.x-grid-row .relevant-column {
	font-weight: bold;
}

.relevant-row .x-grid-cell {
	background-color: #ffffa8;
	color: red;
	font-weight: bold;
}

.x-grid-row-summary {
	background-color: #bbb;
	font: 11px Tahoma, Verdana, sans-serif;
	font-weight: bold;
}

.alert-row .x-grid-cell {
	color: red;
}

.extra-font .x-grid-row .x-grid-cell {
	font-size: 10px;
	background-color: #fff;
	height: 20px;
	padding-top: 7px;
}

.go-btn .x-btn-inner {
	font-size: 10px;
	margin-left: 5px;
}

.green-row .x-grid-cell {
	color: #16CC24;
	font-weight: bold;
}

.newSupplierButton {
	background-color: #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #fff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Poppins-Regular, sans-serif;
	font-size: 13px;
	padding: 2px 17px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #333;
}

.newSupplierButton:hover {
	background-color: #666;
}

.x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
	height: 25px !important;
	background-color: #00306E;
}

.navigationTabPanelBody {
	background: #f9f9f9;
	border-color: #ffffff;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	padding: 2px 0px 0px;
}

.navigationTabPanelBody .x-panel-body-default {
	background: transparent;
}

.x-tab-inner {
	font-size: 10px !important;
	font-family: Poppins-Regular, sans-serif !important;
}

.x-boundlist {
	border-width: 1px;
	border-style: solid;
	border-color: #e1e1e1;
	background: #fff;
	font-size: 11px;
}
/* C:/Users/Aviteran/Downloads/ext-6.2.0.981-master/myApp/ext/classic/theme-neutral/sass/src/view/BoundList.scss:8 */
.x-boundlist-item {
	padding: 0 6px;
	font-family: Poppins-Regular, sans-serif !important;
	line-height: 22px;
	cursor: pointer;
	cursor: hand;
	position: relative;
	/*allow hover in IE on empty items*/
	border-width: 1px;
	/*allow hover in IE on empty items*/
	border-style: dotted;
	border-color: #fff;
	color: #3F484D;
	text-align: left !important;
}
/* C:/Users/Aviteran/Downloads/ext-6.2.0.981-master/myApp/ext/classic/theme-neutral/sass/src/view/BoundList.scss:25 */
.x-boundlist-selected {
	background: #c2ddf2;
	border-color: #c2ddf2;
}
/* C:/Users/Aviteran/Downloads/ext-6.2.0.981-master/myApp/ext/classic/theme-neutral/sass/src/view/BoundList.scss:33 */
.x-boundlist-item-over {
	background: #d6e9f6;
	border-color: #d6e9f6;
	text-align: left !important;
}
/* C:/Users/Aviteran/Downloads/ext-6.2.0.981-master/myApp/ext/classic/theme-neutral/sass/src/view/BoundList.scss:42 */
.x-boundlist-floating {
	border-top-width: 0;
	text-align: left !important;
}
/* C:/Users/Aviteran/Downloads/ext-6.2.0.981-master/myApp/ext/classic/theme-neutral/sass/src/view/BoundList.scss:46 */
.x-boundlist-above {
	border-top-width: 1px;
	border-bottom-width: 1px;
	text-align: left !important;
}

.x-grid-cell {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px; ! important;
	color: #3F484D !important;
	text-align: left !important;
}

.x-column-header-inner {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px; ! important;
	color: #00306E !important;
}

.x-combo-list-item {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px; ! important;
	color: #00306E !important;
}

.x-panel-header-default {
    background-color: #fff; /* Set your desired color */
    font-weiht:bold !important;
}

.x-tab-inner {
	font-size: 11px !important;
}

.hide-tabs .x-tab-bar {
	display: none;
}

.hide-border .x-panel-body-default {
	border: none;
}

.x-grid-header-ct {
	.x-column-header
	{
	  background-color:#00306E;
    }

	.x-column-header-inner
		{
			.x-column-header-text{
			color:#fff;
		}
	}
}

.flexbox-align {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-link:hover {
	cursor: pointer;
}

.page-link:hover img {
	transform: scale(1.3);
}

.x-menu-item-text {
	font-family: Poppins-Regular, sans-serif !important;
	font-size: 11px;
	color: #ccc;
	font-weight: bold;
}

.x-menu-item-text:hover {
	color: #fff;
}

.x-form-text-wrap,
    .x-form-trigger-wrap {
        border-radius: 4px; /* Adjust the value for desired roundness */
    }
